*.xlsx
*.pdf
*.png
*.Rmd
*.html
*.rds
*.txt
*.docx
*.svg
*.csv
._*
.DS_Store
.Rhistory
.Rapp.history
extdata/
FastQC/
files2rmd/
00_preprocess_metadata/data
01_sequencing_data/data/first_phy.rds
01_sequencing_data/data/TL_251
01_sequencing_data/data/TL_265
01_sequencing_data/data/TL_285
01_sequencing_data/data/TL_300
01_sequencing_data/data/TL_350
01_sequencing_data/data/TL_400
01_sequencing_data/out
02_preprocess/data
02_preprocess/results
02_preprocess/plots
02_preprocess/.vscode
figures/data
figures/plots
figures/results
IB_RE
.Rproj.user
.vscode